html, body {
	height: 100%;
}
body {
	background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
}
p {
	margin: 0;
	padding: 0;
}
.text-right {
	text-align: right;
}
.mt20 {
	margin-top: 20px;
}
.pl60 {
	padding-left: 60px;
}
.pr60 {
	padding-right: 60px;
}
.fw {
	font-weight: 900;
}
.f24 {
	font-size: 24px;
}
.fcf {
	color: #fff;
}
.w100 {
	width: 100%;
}
.h300 {
	height: 300px;
}
.mh300 {
	height: 280px;
}
.f18 {
	font-size: 18px;
}
.red {
	color:red;
}
.relative {
	position: relative;
}
.wrap-fixed-top {
	position: absolute;
	width: 100%;
	z-index: 999;
	margin-top: 122px;
}
.navbar {
	margin-bottom: 0;
}
.navbar-inverse {
	background-color: rgba(222, 222, 222,0.1);
	border-color: transparent;
}
.navbar-zhiyun {
	background-color: #232323;
  background-image: -webkit-radial-gradient(center top,#5BBDF8 10%,#232323);
  border-color: rgba(80, 158, 206, 0.42)
}
.navbar-header {
	font-weight:bold;
}
.navbar-header .navbar-brand {
	color: #fff;
}
.navbar-small {
	font-size: 14px;
}
.navbar-inverse .navbar-text {
	color: #ececec;
	padding-right: 15px;
}
.card {
	box-sizing: border-box;
	padding: 28px 22px 18px 18px;
	height: 482px;
	margin: 0 auto;
	max-width: 482px;
	text-align: center;
	border-radius: 8px;
	border:1px solid #979797;
	background: #fff;
}
.card .card-body img {
	width: 442px;
	height: 349px;
}
.card-foot {
	position: relative;
	margin-top: 27px;
}
.card-foot .card-file {
	position: absolute;
	clip:rect(0 0 0 0);
}
.card-foot .card-text {
	text-align: left;
	font-size: 16px;
	color: #000;
	height: 50px;
	line-height: 50px;
}
.middle-line {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.middle-line .text {
	font-size: 30px;
	color:#000;
	margin: 20px 0;
}
.middle-line .line {
	position: relative;
	top: 0;
  display: inline-block;
  border-right: 2px solid #c4c4c4;
  height: 178px;
  width: 2px;
  color: #fff;
  left: 21px;
}
.result {
	width: 100%;
	margin: 0 auto;
	max-width: 400px;
	margin-bottom: 44px;
}
.text-result {
	margin-top: 37px;
	font-size: 30px;
	color: #000;
	line-height: 1.4em;
}
.text-more-link {
	height: 74px;
	line-height: 74px;
	color:#5bc0de;
}
.text-more-link:hover,
.text-more-link:focus {
	text-decoration: none;
	color:#46b8da;
}
.footer {
	width: 100%;
	margin: 0 auto 15px;
	max-width: 400px;
	padding:0 15px;
}

@media (min-width: 768px) {
	body.not_mobile {
		/*overflow: hidden;*/
	}
	.navbar-toggle-text {
		display: none;
	}
	.navbar-inverse .navbar-text {
		color: #ececec;
		margin-right: -15px;
	}
	.navbar {
		margin-bottom: 10px;
	}
}
@media (max-width: 768px) {
	.pl60 {
		padding-left: 15px;
	}
	.pr60 {
		padding-right: 15px;
	}
	.card-body {
		max-width: 500px;
		margin: 0 auto;
	}
	.not_pc {
		display: none;
	}
	.card {
		height: 550px;
		margin-top: 20px;
	}
	#canvas-anim {
		display: none;
	}
}

/*
	cases
 =================== */
.title-h3 {
	color: #fff;
	margin: 15px 15px 20px 15px;
	font-size: 18px;
}
.btn-box {
  box-sizing: border-box;
  width: 155px;
  height: 50px;
  font-size: 16px;
  padding: 0;
  line-height: 50px;
  border-radius: 8px;
  border: 1px solid #979797;
  background: #d1d4d6;
  font-weight: normal;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
  background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}
.btn-info {
	background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}
.btn-info:foucs,
.btn-info.focus {
	background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}
.btn-info:hover {
	background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}
.btn-info:active,
.btn-info.active {
	background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}

.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info.active.focus {
	background-color: #d1d4d6;
	color:#000;
	border-color: #979797;
}

.footer .btn.btn-auto {
	border-radius: 8px;
	color: #fff;
	padding: .5em 1em;
	width: 140px;
	margin: 0 auto;
	background:#f33441;
	font-size: 18px;
}

.footer .btn.btn-auto:hover {
	background-color: #f33441;
}
.btn-auto:foucs,
.btn-auto.focus {
	background-color: #f33441;
	color:#fff;
	border-color: transparent;
}
.btn-auto:hover {
	background-color: #f33441;
	color:#fff;
	border-color: transparent;
}
.btn-auto:active,
.btn-auto.active {
	background-color: #f33441;
	color:#fff;
	border-color: transparent;
}

.btn-auto:active:hover,
.btn-auto.active:hover,
.btn-auto:active:focus,
.btn-auto.active:focus,
.btn-auto:active.focus,
.btn-auto.active.focus {
	background-color: #f33441;
	color:#fff;
	border-color: transparent;
}
