<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href={{ static_url("vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">

    <!-- Custom Fonts -->
    <link href={{ static_url("vendor/font-awesome/css/font-awesome.min.css") }} rel="stylesheet" type="text/css">
    <link href={{ static_url("css/google/Open_Sans.css") }} rel="stylesheet" type="text/css">
    <link href={{ static_url("css/google/Merriweather.css") }} rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href={{ static_url("vendor/magnific-popup/magnific-popup.css") }} rel="stylesheet">

    <!-- Theme CSS -->
    <link href={{ static_url("css/creative.css") }} rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script>
        window.location.hash = '#{{location}}';
    </script>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">新华智云</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Identify Your Authentic Images</h1>
                <hr>
                <p>Enhanced by the deep leanring and artifical intelligence approaches, XinhuaZhiyun could indentify if one image is authentic, with a state of art accuracy 95.3%</p>
                <a href="#show" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

	<form enctype="multipart/form-data" action="/upload" method="post">

        <section class="no-padding" id="show">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <a href={{image1}} class="portfolio-box">
                        <img src={{image1}} id="blah_1" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                    <input type="file" name="filearg1" id='file_01' value="upload one" style="padding: 40%; color: transparent"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="{{image2}}" class="portfolio-box">
                        <img src="{{image2}}" class="img-responsive" id="blah_2" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                    <input type="file" name="filearg2" id='file_02' value="upload one" style="padding: 40%; color: transparent"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Upload Two Images and Show their authentic</h2>
                <h3>是否相似:{{similarity}}, 一致度: {{ratio}}</h3>
            {% raw xsrf_form_html() %}
            <input type="submit" value="Test Now" class="btn btn-default btn-xl sr-button"/>
	</form>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                    <hr class="primary">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@shuwen.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src={{ static_url("vendor/jquery/jquery.min.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ static_url("vendor/bootstrap/js/bootstrap.min.js") }}></script>

    <!-- Plugin JavaScript -->
    <script src={{ static_url("js/jquery.min.js") }}></script>
    <script src={{ static_url("vendor/scrollreveal/scrollreveal.min.js") }}></script>
    <script src={{ static_url("vendor/magnific-popup/jquery.magnific-popup.min.js") }}></script>

    <!-- Theme JavaScript -->
    <script src={{ static_url("js/creative.js") }}></script>
    <script src={{ static_url("js/image_shower.js") }}></script>
    <script>
   function readURL(input, no) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah_' + no).attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#file_01").change(function(){
        readURL(this, '1');
    });

    $("#file_02").change(function(){
        readURL(this, '2');
    });

    </script>
</body>

</html>
