<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if gte IE 9 ]>    <html class="ie"> <![endif]-->
<!--[if !(IE)]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>新华智云-图片版权检测</title>
    <meta name="description" content="数据科学"/>
    <meta name="keywords" content="数据科学,dome"/>
    <!--[if IE]>
        <script src="http://a.tbcdn.cn/apps/tdata/js/base/html5-reset.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="http://a.tbcdn.cn/apps/tdata/css/global/general.css"/>
        <link rel="stylesheet" type="text/css" href={{ static_url("js/swm/bootstrap.min.css") }}/>
        <link rel="stylesheet" type="text/css" href={{ static_url("js/swm/font-awesome.min.css") }}/>
        <link rel="stylesheet" type="text/css" href={{ static_url("js/swm/fonts.css") }}/>
        <link rel="stylesheet" type="text/css" href={{ static_url("js/swm/swarm.css") }}/>
        <link rel="stylesheet" type="text/css" href={{ static_url("css/new_creative.css") }}/>
        <script src={{ static_url("js/jquery.min.js") }}></script>
        <base target="_blank"/>
</head>
<body style="overflow: hidden;">
    <header id="header">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-brand page-scroll" href="/">新华智云<small style="font-size:14px;color:#777">-图片版权鉴定</small></a>
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="">Image Signature, Deep Learning, Powered By: <strong>@Matrix-AI</strong> &nbsp &nbsp </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="header-wrap clear-float">
            <h1><b>新华智云 </b><small style="font-size:14px;"> 图片版权鉴定</small></h1>
        </div>
    </header>
    <form id='file-uploder' target="_blank" enctype="multipart/form-data" action="/upload" method="post">
            <input type="hidden" value={{placeholder1}} name="placeholder1">
            <input type="hidden" value={{placeholder2}} name="placeholder2">

    <div id="content" data-usage="swarm">
        <canvas id="canvas-anim" width="1440" height="300"></canvas>
        <div class="mod-search-bar">
            <section>
                <div class="col-lg-6 col-sm-6 col-left">
                    <div class="search-bar-left">
                        <a href={{image1}} class="portfolio-box">
                            <img src={{image1}} id="blah_1" class="img-responsive img-left" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <input type="file" name="filearg1" id='file_01' value="upload one" class="file-upload"/>
                                </div>
                            </div>
                        </a>
                        <button type=button id="button_01" class="btn btn-block btn-lg btn-upload" style="width: 100%;margin-to    p:10px;">点击上传图片</button>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-right">
                    <a href={{image2}} class="portfolio-box">
                        <div class="search-bar-right">
                            <img src={{image2}} id="blah_2" class="img-responsive img-right" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                    </div>
                                    <input type="file" name="filearg2" id='file_02' value="upload one" class="file-upload"/>
                                </div>
                            </div>
                        </a>
                        <button type=button id="button_02" class="btn btn-block btn-lg btn-upload" style="width: 100%;margin-to    p:10px;">点击上传图片</button>
                    </div>
                </div>
                <div class="submit-div">
                    <h2 id="result" style="
                            margin-left: -94px;
                            margin-top: -24px;
                            ">版权鉴定结果:
                            {% if similarity %}
                            <span style="color:red">&nbsp版权冲突&nbsp</span></h2>
                            {% else %}
                            <span style="color:red">&nbsp版权未冲突&nbsp</span></h2>
                            {% end %}
                        {% raw xsrf_form_html() %}
                    <input id="submit" type="submit" value="点击检测版权" class="btn btn-primary btn-xl"/>
                </div>
                </form>
            </section>
        </div>
    </div>
    <footer id="footer">
        <!-- 页尾 -->
    </footer>
    <script type="text/javascript" src={{ static_url("js/swm/merge-v2.0.js") }}></script>
    <script src={{ static_url("js/swm/canvas-anim.js") }}></script>
    <script src={{ static_url("js/swm/index.js") }}></script>
    <script src={{ static_url("vendor/jquery/jquery.min.js") }}></script>

    <script src={{ static_url("vendor/scrollreveal/scrollreveal.min.js") }}></script>
    <script src={{ static_url("vendor/magnific-popup/jquery.magnific-popup.min.js") }}></script>
    <script>

$("#button_01").click(function(){
    $("#file_01").click();
});
$("#button_02").click(function(){
    $("#file_02").click();
});

function readURL(input, no) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#blah_' + no).attr('src', e.target.result);
            var unknow_string = '<strong>待检测</strong>';
            $('#result').fadeOut(0);
            $('#empty1').text(" .");
            $('#empty2').text('.');
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#file_01").change(function(){
    readURL(this, '1');
});

$("#file_02").change(function(){
    readURL(this, '2');
});

    </script>
</body>
</html>
